.image {
    width: 800px;
    height: 600px;
    transition: 2s;
}

.imageNotAuth {
    width: 800px;
    height: 600px;
    margin-left: 100px;
    transition: 2s;
}


.auth {
    padding-right: 200px;
    transition: 1s;
}

.notAuth {
    transition: 1s;
}

.text {
    color: black;
}

.logOut{

}