.header {
    grid-area: h;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img {
    width: 200px;
    height: 60px;
}

.courier{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.customer{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.loginBlock {
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    margin-right: 11px;

    font-size: 20px;
    font-weight: bold;
}
.loginBlock a {
    text-decoration: none;
}
.loginBlock:hover {

}

.button{
    height: 40px;
}

.switchButton{
    margin-right: 10px;
}