.nav {
    grid-area: n;
    background-color: #0d293e;
    padding: 20px;
}

.item a {
    color: wheat;
    text-decoration: none;
}

.item a.activeLink {
    color: wheat;
    text-decoration: none;
}