.nav {
    grid-area: n;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.item a {
    color: wheat;
    text-decoration: none;
}

.item a.activeLink {
    color: #ffee07;
    font-weight: bold;
    text-decoration: none;
}

.item a:hover {
    text-decoration: none;
}

.emptyUser{
    grid-area: n;
    background-color: transparent;
    transition: 1s;
}