.footer {
    grid-area: f;
    background-color: gray;
}

.footer img {
    width: 20px;
}

.courier{
    background-color: rgba(0, 0, 0, 0.3);
}

.customer{
    background-color: rgba(0, 0, 0, 0.3);
}
