.footer {
    grid-area: f;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 1s;
    text-align: center;
}

.courier{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.customer{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
}
